/*COMMON*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper-small {
    max-width: 950px;
    margin: auto;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
}

img {
    max-width: 100%;
}
/*COMMON*/

/*MEDIA QUERY*/

@media all and  (max-width: 991px) {
    #hellbiz-operations {
        padding-top: 260px;
    }
}

/*MEDIA QUERY*/

/*HEADER*/

/*nav*/

header nav {
    text-align: right;

}

header .top-nav {
    padding: 20px;
}

header nav .burger a {
    font-size: 20px;
    color: black;
}

header .logo img {
    height: 12px;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    margin-left: 9px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.menu.lang li {
    border-right: 1px solid black;
    padding-right: 10px;
}

.menu.lang li:last-child {
    border-right: none;  
}
/*nav*/

/*jumbotron*/

.jumbotron {
    background-image: url("../img/hero-bg.jpg");
    background-position-y: 60%;
    background-size: cover;
    height: 550px;
    position: relative;
}


.teaser {
    color: white;
    text-align: center;
}

.teaser h1 {
    font-size: xxx-large;
    font-weight: 500;
    padding-bottom: 10px;
}

.teaser p {
    padding-bottom: 15px;
}

.jumbo-img a img {
    height: 45px;
}
/*jumbotron*/
/*HEADER*/

/*MAIN*/

/*line up section*/

#lineup-info {
    padding: 20px 0;
}

.col_inner {
    padding: 20px;
}

.product-content {
    text-align: center;
    background-color: #fafafa;
}

.prod-txt h3 {
    padding-bottom: 10px;
    padding-top: 60px;
    font-size: x-large;
    font-weight: 500;
}

.prod-txt p {
    padding: 10px 0;
}

.prod-txt a {
    padding: 10px 0;
    text-decoration: none;
    color: blue;
    font-size: 11px;
}

.img-prod {
    padding-top: 20px;
    padding-bottom: 30px;
}
/*line up section*/

/*iphone banner section*/ 

#iphone-banner {
    background-image: url(../img/HelbizBanner.jpg);
    height: 400px;
    background-size: cover;
    background-position-y: 50%;
}

#iphone-banner img {
    height: 600px;
    display: block;
    margin: auto;
    position: relative;
    top: 30%;
}
/*iphone banner*/ 

/*operations section*/ 

.operations_txt {
    text-align: center;
    padding: 70px 0;
}

/*operations section*/ 


/*Smart mobility section*/
#smart-mobility {
    padding-top: 150px;
}

.bg_mobility {
    position: relative;
    height: 400px;
    background-image: url(../img/ScooterHelbiz-2400.jpg);
    background-size: cover;
    text-align: center;
}

.common-spacing {
   padding: 50px;
} 

.bg_mobility h3 {
    font-size: xxx-large;
    color: white;
    font-weight: 100;
    padding-top: 80px;
}

.bg_mobility p {
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
}

.bg_mobility a {
    text-decoration: none;
    color: white;
}
/*Smart mobility section*/




/*MAIN*/




